<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.No1">

        <activity
            android:name=".main.views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.views.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".features.post.views.CreatePostActivity"
            android:exported="false" />

        <activity
            android:name=".features.post.views.PostDetailActivity"
            android:exported="false" />

        <activity
            android:name=".features.comment.views.CommentDetailActivity"
            android:exported="false" />

        <!-- 服务模块 -->
        <activity
            android:name=".features.service.views.ComplaintActivity"
            android:exported="false" />

        <activity
            android:name=".features.service.views.RepairActivity"
            android:exported="false" />

        <activity
            android:name=".features.service.views.ServiceRecordActivity"
            android:exported="false" />

        <activity
            android:name=".features.service.views.ServiceDetailActivity"
            android:exported="false" />
        <!-- 管理员模块 -->
        <activity
            android:name=".features.service.views.AdminServiceRecordActivity"
            android:exported="false" />

        <activity
            android:name=".features.service.views.AdminServiceDetailActivity"
            android:exported="false" />
        <!-- 通知模块 -->
        <activity
            android:name=".features.notice.views.NoticeDetailActivity"
            android:exported="false" />

        <activity
            android:name=".features.notice.views.PublishNoticeActivity"
            android:exported="false" />
    </application>
</manifest>